@font-face {
    font-family: 'Comic_CAT';
    src: url("../fonts/Comic_CAT.otf");
}

body {
    margin: 0;
    font-family: 'Comic_CAT', sans-serif;
}

.mx-auto, .fw-bold {
    color: white;
}

.col-lg-4 {
    width: 45%;
}

.justify-content-center {
    margin-bottom: 50px;
}

.parallax-window {
    min-height: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.timeline_area {
    /*background: rgb(78, 197, 180);*/
    /*background: linear-gradient(90deg, rgba(78, 197, 180, 1) 0%, rgba(65, 188, 174, 1) 17%, rgba(43, 133, 167, 1) 89%);;*/
    /*background: rgb(78,197,180);*/
    /*background: linear-gradient(90deg, rgba(78,197,180,0.49933476808692223) 0%, rgba(65,188,174,0.558158297498687) 17%, rgba(43,133,167,0.3648809865743172) 89%);*/
    /*background-color: rgba(203, 195, 178, 0.6);*/
}

.main-block h1 {
    font-size: 60px;
    text-align: center;
    color: black;
    font-weight: 700;
}

#form {
    margin: 50px auto 0 auto;
    width: 500px;
}

.main-block__a {
    display: flex;
    justify-content: center;
    font-size: 18px;
}
a {
    text-decoration: none;
}
.ssilki {
    text-decoration: none;
    color: #000000;
    margin: 0 7px 0 7px;
    border: 3px solid #000000;
    border-radius: 30px;
    padding: 10px;
    width: 240px;
    text-align: center;
    font-weight: bold;
}

.single-timeline-area .single-timeline-content .timeline-icon, .single-timeline-area .timeline-date::before, .single-timeline-area .timeline-date::after {
    background-color: #54b09e;
}

.news__year {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    width: 46%;
    /*width: 608px;*/
    height: 528px;
    display: none;
    border-radius: 6px;
    border: 3px solid #54b09e;
    overflow-y: auto;
}

.news {
    /*height: 528px;*/
}

.row {
    position: relative;
}

/*#footer {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

#languages {
    position: absolute;
    right: 20px;
    top: 20px;
}

.language {
    width: 35px;
}

#fond {
    position: absolute;
    left: 20px;
    top: 20px;
    color: black;
    font-weight: bold;
}

#main-text {
    text-align: center;
    max-width: 810px;
    margin: 50px auto;
    font-size: 18px;
    font-weight: 700;

}

#title {
    align-items: center;
}

#arrow-down {
    background: transparent;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
}

#arrow-down svg {
    width: 50px;
    height: 50px;
}

#get_event {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

#sent_event {
    border-radius: 0.25rem;
    padding: 5px;
    width: 125px;
}

#footer {
    max-width: 1200px;
    margin: 0 auto;
}

#footer_bg {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../images/bg4.jpg");
    background-size: cover;
    border-top: 3px solid #85ab85;
}

#footer_main {
    display: flex;
    justify-content: space-evenly;
}

.member_text {
    text-align: center;
    color: black;
}

#footer_info {
    margin-top: 30px;
}

#footer_icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#footer_icons img {
    width: 50px;
    margin: 0 20px;
}

h3, h4 {
    text-align: center;
    margin: 0;
}

span {
    color: #8fcba7;
}

#main_bg {
    padding-top: 59px;
    padding-bottom: 50px;
    background: #F0F6FF;
    background: -webkit-linear-gradient(top, #F0F6FF, #F8FBF4);
    background: -moz-linear-gradient(top, #F0F6FF, #F8FBF4);
    background: linear-gradient(to bottom, #F0F6FF, #F8FBF4);
}