/*.main-block {*/
/*    background-image: url("../images/bg2.jpg");*/
/*}*/
body {
    margin: 0;
}

.mx-auto, .fw-bold {
    color: white;
}

.col-lg-4 {
    width: 45%;
}

.justify-content-center {
    margin-bottom: 50px;
}

.parallax-window {
    min-height: 400px;
    padding-top: 100px;
    /*background-image: url("../images/bg2.jpg");*/
}

.timeline_area {
    /*background: rgb(78, 197, 180);*/
    /*background: linear-gradient(90deg, rgba(78, 197, 180, 1) 0%, rgba(65, 188, 174, 1) 17%, rgba(43, 133, 167, 1) 89%);;*/
    /*background: rgb(78,197,180);*/
    /*background: linear-gradient(90deg, rgba(78,197,180,0.49933476808692223) 0%, rgba(65,188,174,0.558158297498687) 17%, rgba(43,133,167,0.3648809865743172) 89%);*/
    /*background-color: rgba(203, 195, 178, 0.6);*/
}

.main-block h1 {
    font-size: 60px;
    text-align: center;
    color: black;
}

#form {
    margin: 50px auto 20px auto;
    width: 500px;
}

.main-block__a {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    font-size: 28px;
}

a {
    text-decoration: none;
    color: darkblue;
}

.single-timeline-area .single-timeline-content .timeline-icon, .single-timeline-area .timeline-date::before, .single-timeline-area .timeline-date::after {
    background-color: #54b09e;
}

.news__year {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    width: 46%;
    /*width: 608px;*/
    height: 528px;
    display: none;
    border-radius: 6px;
    border: 3px solid #54b09e;
    overflow-y: auto;
}

.news {
    /*height: 528px;*/
}

.row {
    position: relative;
}
#main > div {
    margin: 55px;
    width: 150px;
    height: 120px;
    text-align: center;
    display: inline-block;
}